*.dcp
*.bit
*.pb
*.vdi
*.wdb
*.rpt
*.rpx
*.jou
*.log

# scripts gerados automaticamente
vivado/*.bat
vivado/*.sh

# OS files
.DS_Store
Thumbs.db

# */NRZ-L-VGA-PMOD-LED.cache/
# */NRZ-L-VGA-PMOD-LED.runs/
